apolloProjectDF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "apolloProjectDF"
		},
		"Adf2AzSql_ls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Adf2AzSql_ls'"
		},
		"Adf2AzSql_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "apolloproject.database.windows.net"
		},
		"Adf2AzSql_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "apollo_db"
		},
		"Adf2AzSql_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "apollo_admin"
		},
		"Adls2Adf_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://apolloadlsdata.dfs.core.windows.net/"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ApolloKeyVaultStore.vault.azure.net/"
		},
		"Blob2Adf_ls_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "BlobConnStr"
		},
		"MySql2Adf_ls_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"MySql2Adf_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "apollo_db"
		},
		"MySql2Adf_ls_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "root"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Apollo_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "R2B",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MySql2Azure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Raw2Bronze_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "B2S",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "R2B",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Bronze2Silver_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "S2G",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "B2S",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Silver2Gold_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MySql2Azure",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MySQL2Azure_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Raw2Bronze_PL')]",
				"[concat(variables('factoryId'), '/pipelines/Bronze2Silver_PL')]",
				"[concat(variables('factoryId'), '/pipelines/Silver2Gold_PL')]",
				"[concat(variables('factoryId'), '/pipelines/MySQL2Azure_PL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze2Silver_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Encounter_DataFlow",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Encounter_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EncounterData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "EncounterDx_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Encounter_Dx_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EncounterDxData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Provider_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Provider_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ProviderData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PCP_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PCP_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PcpData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Pregnancy_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Pregnancy_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PregnancyDiagnosisData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Location_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Location_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"LocationData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Patient_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Patient_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PatientData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Encounter_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Encounter_Dx_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Provider_DF')]",
				"[concat(variables('factoryId'), '/dataflows/PCP_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Pregnancy_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Location_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Patient_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySQL2Azure_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OnPrem2Azure",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Patient_Raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Patient_R",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Patient_Raw')]",
				"[concat(variables('factoryId'), '/datasets/Patient_R')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Raw2Bronze_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data R2B",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RawDataFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BronzeDataFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RawDataFiles')]",
				"[concat(variables('factoryId'), '/datasets/BronzeDataFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver2Gold_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S2G_PL",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Apollo_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Encounter": {},
									"EncounterDx": {},
									"Location": {},
									"Provider": {},
									"PCP": {},
									"PregnancyDiagnosis": {},
									"PatientData": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Apollo_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Apollo_G')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Medallion/Gold",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Apollo_G_AzsqlDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adf2AzSql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": "Apollo_Tb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adf2AzSql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BronzeDataFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EncounterData_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Encounter_Table",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Encounter_Table.xlsx",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EncounterData_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Encounter_Table_S-00001.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Encounter_Dx_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Encounter_dx_Table.csv",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Encounter_Dx_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Encounter_Dx_Table_S.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "enc_id",
						"type": "String"
					},
					{
						"name": "enc_patient_id",
						"type": "String"
					},
					{
						"name": "visit_prov_id",
						"type": "String"
					},
					{
						"name": "enc_status",
						"type": "String"
					},
					{
						"name": "enc_date",
						"type": "String"
					},
					{
						"name": "due_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Location_Table.csv",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "loc_id",
						"type": "String"
					},
					{
						"name": "loc_name",
						"type": "String"
					},
					{
						"name": "loc_sa",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Location_Table_S.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PCP_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PCP_Table.csv",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "unique_patient_id",
						"type": "String"
					},
					{
						"name": "pcp_prov_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PCP_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PCP_Table_S.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Patient_Blob2Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "`patient_table`.csv",
						"container": "apollo-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "unique_patient_id",
						"type": "String"
					},
					{
						"name": "gender",
						"type": "String"
					},
					{
						"name": "birth_date",
						"type": "String"
					},
					{
						"name": "pat_loc_id",
						"type": "String"
					},
					{
						"name": "pat_pcp_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blob2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Patient_Data_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Patient_Data_S.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Patient_R')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "apollo-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blob2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Patient_Raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySql2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`patient_table`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MySql2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PregnancyDiagnosis_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Pregnancy_Diagnosis.csv",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "code",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PregnancyDiagnosis_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PregnancyDiagnosis_Table_S.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Provider_B')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Provider.json",
						"folderPath": "Medallion/Bronze",
						"fileSystem": "apollo-datasets"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Sheet1": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"prov_id": {
										"type": "integer"
									},
									"prov_name": {
										"type": "string"
									},
									"prov_loc_id": {
										"type": "integer"
									},
									"prov_spec": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Provider_S')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Adls2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Provider_Table_S.csv",
						"folderPath": "Medallion/Silver",
						"fileSystem": "apollo-datasets"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Adls2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RawDataFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob2Adf_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "apollo-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dx_enc_id",
						"type": "String"
					},
					{
						"name": "dx_line",
						"type": "String"
					},
					{
						"name": "dx_icd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blob2Adf_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Adf2AzSql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Adf2AzSql_ls_properties_typeProperties_server')]",
					"database": "[parameters('Adf2AzSql_ls_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Adf2AzSql_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Adf2AzSql_ls_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Adls2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Adls2Adf_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AdlsAccessKey"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Blob2Adf_ls_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySql2Adf_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('MySql2Adf_ls_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('MySql2Adf_ls_properties_typeProperties_database')]",
					"username": "[parameters('MySql2Adf_ls_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "MySqlPassword"
					},
					"driverVersion": "v2"
				},
				"connectVia": {
					"referenceName": "SelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIR')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Apollo_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "EncounterData_S",
								"type": "DatasetReference"
							},
							"name": "Encounter"
						},
						{
							"dataset": {
								"referenceName": "Encounter_Dx_S",
								"type": "DatasetReference"
							},
							"name": "EncounterDx"
						},
						{
							"dataset": {
								"referenceName": "Location_S",
								"type": "DatasetReference"
							},
							"name": "Location"
						},
						{
							"dataset": {
								"referenceName": "Provider_S",
								"type": "DatasetReference"
							},
							"name": "Provider"
						},
						{
							"dataset": {
								"referenceName": "PCP_S",
								"type": "DatasetReference"
							},
							"name": "PCP"
						},
						{
							"dataset": {
								"referenceName": "PregnancyDiagnosis_S",
								"type": "DatasetReference"
							},
							"name": "PregnancyDiagnosis"
						},
						{
							"dataset": {
								"referenceName": "Patient_Data_S",
								"type": "DatasetReference"
							},
							"name": "PatientData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Apollo_G",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Apollo_G_AzsqlDB",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "PatientLocationData"
						},
						{
							"name": "ReqColumns"
						},
						{
							"name": "PatientLocPCP"
						},
						{
							"name": "SelectReqColumns"
						},
						{
							"name": "PatLocPcpProvData"
						},
						{
							"name": "OnlyReqColumns"
						},
						{
							"name": "EncounterEncounterDx"
						},
						{
							"name": "selectedColumns"
						},
						{
							"name": "EncEncDxPatLocPcpProvData"
						},
						{
							"name": "FinalSelectedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          enc_id as integer,",
						"          enc_patient_id as integer,",
						"          visit_prov_id as short,",
						"          enc_status as string,",
						"          enc_date as date,",
						"          due_date as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Encounter",
						"source(output(",
						"          dx_enc_id as short,",
						"          dx_line as short,",
						"          dx_icd as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EncounterDx",
						"source(output(",
						"          loc_id as short,",
						"          loc_name as string,",
						"          loc_sa as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Location",
						"source(output(",
						"          prov_id as short,",
						"          prov_loc_id as short,",
						"          prov_name as string,",
						"          prov_spec as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Provider",
						"source(output(",
						"          unique_patient_id as short,",
						"          pcp_prov_id as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PCP",
						"source(output(",
						"          icd_id as short,",
						"          code as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PregnancyDiagnosis",
						"source(output(",
						"          unique_patient_id as short,",
						"          gender as string,",
						"          pat_loc_id as short,",
						"          pat_pcp_id as short,",
						"          age as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PatientData",
						"PatientData, Location join(pat_loc_id == loc_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> PatientLocationData",
						"PatientLocationData select(mapColumn(",
						"          unique_patient_id,",
						"          gender,",
						"          pat_pcp_id,",
						"          age,",
						"          loc_name,",
						"          loc_sa",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ReqColumns",
						"ReqColumns, PCP join(ReqColumns@unique_patient_id == PCP@unique_patient_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> PatientLocPCP",
						"PatientLocPCP select(mapColumn(",
						"          unique_patient_id = ReqColumns@unique_patient_id,",
						"          gender,",
						"          pat_pcp_id,",
						"          age,",
						"          loc_name,",
						"          loc_sa,",
						"          primary_provider = pcp_prov_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectReqColumns",
						"SelectReqColumns, Provider join(primary_provider == prov_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> PatLocPcpProvData",
						"PatLocPcpProvData select(mapColumn(",
						"          unique_patient_id,",
						"          gender,",
						"          pat_pcp_id,",
						"          age,",
						"          loc_name,",
						"          loc_sa,",
						"          prov_loc_id,",
						"          prov_name,",
						"          prov_spec",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> OnlyReqColumns",
						"Encounter, EncounterDx join(enc_id == dx_enc_id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> EncounterEncounterDx",
						"EncounterEncounterDx select(mapColumn(",
						"          enc_id,",
						"          enc_patient_id,",
						"          visit_prov_id,",
						"          enc_status,",
						"          enc_date,",
						"          due_date,",
						"          dx_line,",
						"          dx_icd",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns",
						"selectedColumns, OnlyReqColumns join(enc_patient_id == unique_patient_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> EncEncDxPatLocPcpProvData",
						"EncEncDxPatLocPcpProvData select(mapColumn(",
						"          unique_patient_id,",
						"          enc_id,",
						"          visit_prov_id,",
						"          enc_status,",
						"          enc_date,",
						"          due_date,",
						"          dx_line,",
						"          dx_icd,",
						"          gender,",
						"          pat_pcp_id,",
						"          age,",
						"          loc_name,",
						"          loc_sa,",
						"          prov_name,",
						"          prov_spec",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FinalSelectedColumns",
						"FinalSelectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Apollo_G.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"FinalSelectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EncounterData_S')]",
				"[concat(variables('factoryId'), '/datasets/Encounter_Dx_S')]",
				"[concat(variables('factoryId'), '/datasets/Location_S')]",
				"[concat(variables('factoryId'), '/datasets/Provider_S')]",
				"[concat(variables('factoryId'), '/datasets/PCP_S')]",
				"[concat(variables('factoryId'), '/datasets/PregnancyDiagnosis_S')]",
				"[concat(variables('factoryId'), '/datasets/Patient_Data_S')]",
				"[concat(variables('factoryId'), '/datasets/Apollo_G')]",
				"[concat(variables('factoryId'), '/datasets/Apollo_G_AzsqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Encounter_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "EncounterData_B",
								"type": "DatasetReference"
							},
							"name": "EncounterData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "EncounterData_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "TypeCorrection"
						}
					],
					"scriptLines": [
						"source(output(",
						"          enc_id as integer,",
						"          enc_patient_id as integer,",
						"          visit_prov_id as short,",
						"          enc_status as string,",
						"          enc_date as date,",
						"          due_date as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EncounterData",
						"EncounterData derive(enc_status = replace(enc_status, \"Compeleted\", \"Completed\")) ~> TypeCorrection",
						"TypeCorrection sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:'Encounter_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EncounterData_B')]",
				"[concat(variables('factoryId'), '/datasets/EncounterData_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Encounter_Dx_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Encounter_Dx_B",
								"type": "DatasetReference"
							},
							"name": "EncounterDxData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Encounter_Dx_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EncounterDxData",
						"EncounterDxData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          enc_id as string,",
						"          enc_patient_id as string,",
						"          visit_prov_id as string,",
						"          enc_status as string,",
						"          enc_date as string,",
						"          due_date as string",
						"     ),",
						"     filePattern:'Encounter_Dx_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Encounter_Dx_B')]",
				"[concat(variables('factoryId'), '/datasets/Encounter_Dx_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Location_B",
								"type": "DatasetReference"
							},
							"name": "LocationData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Location_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "RemoveDuplicates"
						},
						{
							"name": "selectedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          loc_id as string,",
						"          loc_name as string,",
						"          loc_sa as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> LocationData",
						"LocationData aggregate(groupBy(loc_id,",
						"          loc_name,",
						"          loc_sa),",
						"     ioc_id_new = count(loc_id)) ~> RemoveDuplicates",
						"RemoveDuplicates select(mapColumn(",
						"          loc_id,",
						"          loc_name,",
						"          loc_sa",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns",
						"selectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'Location_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Location_B')]",
				"[concat(variables('factoryId'), '/datasets/Location_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PCP_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PCP_B",
								"type": "DatasetReference"
							},
							"name": "PcpData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PCP_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          unique_patient_id as string,",
						"          pcp_prov_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PcpData",
						"PcpData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'PCP_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PCP_B')]",
				"[concat(variables('factoryId'), '/datasets/PCP_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Patient_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Patient_Blob2Bronze",
								"type": "DatasetReference"
							},
							"name": "PatientData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Patient_Data_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "GenderFullForm"
						},
						{
							"name": "CalculatingAge"
						},
						{
							"name": "SelectingReqCol"
						}
					],
					"scriptLines": [
						"source(output(",
						"          unique_patient_id as string,",
						"          gender as string,",
						"          birth_date as date,",
						"          pat_loc_id as string,",
						"          pat_pcp_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PatientData",
						"PatientData derive(gender = iif(gender==\"M\", \"Male\", \"Female\")) ~> GenderFullForm",
						"GenderFullForm derive(age = toInteger(minus(currentDate(), birth_date)/365)) ~> CalculatingAge",
						"CalculatingAge select(mapColumn(",
						"          unique_patient_id,",
						"          gender,",
						"          pat_loc_id,",
						"          pat_pcp_id,",
						"          age",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectingReqCol",
						"SelectingReqCol sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'Patient_Data_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Patient_Blob2Bronze')]",
				"[concat(variables('factoryId'), '/datasets/Patient_Data_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pregnancy_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PregnancyDiagnosis_B",
								"type": "DatasetReference"
							},
							"name": "PregnancyDiagnosisData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PregnancyDiagnosis_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "AddUniqueKey"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          code as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PregnancyDiagnosisData",
						"PregnancyDiagnosisData keyGenerate(output(icd_id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> AddUniqueKey",
						"AddUniqueKey select(mapColumn(",
						"          icd_id,",
						"          code",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'PregnancyDiagnosis_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PregnancyDiagnosis_B')]",
				"[concat(variables('factoryId'), '/datasets/PregnancyDiagnosis_S')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Provider_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Provider_B",
								"type": "DatasetReference"
							},
							"name": "ProviderData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Provider_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						},
						{
							"name": "Json2TableFormat"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Sheet1 as (prov_id as short, prov_loc_id as short, prov_name as string, prov_spec as string)[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments') ~> ProviderData",
						"ProviderData foldDown(unroll(Sheet1),",
						"     mapColumn(",
						"          Sheet1",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 select(mapColumn(",
						"          prov_id = Sheet1.prov_id,",
						"          prov_loc_id = Sheet1.prov_loc_id,",
						"          prov_name = Sheet1.prov_name,",
						"          prov_spec = Sheet1.prov_spec",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Json2TableFormat",
						"Json2TableFormat sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'Provider_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Provider_B')]",
				"[concat(variables('factoryId'), '/datasets/Provider_S')]"
			]
		}
	]
}