apolloProjectDF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "apolloProjectDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Encounter_Dx_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Encounter_Dx_B",
								"type": "DatasetReference"
							},
							"name": "EncounterDxData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Encounter_Dx_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> EncounterDxData",
						"EncounterDxData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          enc_id as string,",
						"          enc_patient_id as string,",
						"          visit_prov_id as string,",
						"          enc_status as string,",
						"          enc_date as string,",
						"          due_date as string",
						"     ),",
						"     filePattern:'Encounter_Dx_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Provider_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Provider_B",
								"type": "DatasetReference"
							},
							"name": "ProviderData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Provider_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						},
						{
							"name": "Json2TableFormat"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Sheet1 as (prov_id as short, prov_loc_id as short, prov_name as string, prov_spec as string)[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments') ~> ProviderData",
						"ProviderData foldDown(unroll(Sheet1),",
						"     mapColumn(",
						"          Sheet1",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 select(mapColumn(",
						"          prov_id = Sheet1.prov_id,",
						"          prov_loc_id = Sheet1.prov_loc_id,",
						"          prov_name = Sheet1.prov_name,",
						"          prov_spec = Sheet1.prov_spec",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Json2TableFormat",
						"Json2TableFormat sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'Provider_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PCP_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PCP_B",
								"type": "DatasetReference"
							},
							"name": "PcpData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PCP_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          unique_patient_id as string,",
						"          pcp_prov_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PcpData",
						"PcpData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'PCP_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pregnancy_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "PregnancyDiagnosis_B",
								"type": "DatasetReference"
							},
							"name": "PregnancyDiagnosisData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "PregnancyDiagnosis_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "AddUniqueKey"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          code as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PregnancyDiagnosisData",
						"PregnancyDiagnosisData keyGenerate(output(icd_id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> AddUniqueKey",
						"AddUniqueKey select(mapColumn(",
						"          icd_id,",
						"          code",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'PregnancyDiagnosis_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Location_DF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Location_B",
								"type": "DatasetReference"
							},
							"name": "LocationData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Location_S",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "RemoveDuplicates"
						},
						{
							"name": "selectedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          loc_id as string,",
						"          loc_name as string,",
						"          loc_sa as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> LocationData",
						"LocationData aggregate(groupBy(loc_id,",
						"          loc_name,",
						"          loc_sa),",
						"     ioc_id_new = count(loc_id)) ~> RemoveDuplicates",
						"RemoveDuplicates select(mapColumn(",
						"          loc_id,",
						"          loc_name,",
						"          loc_sa",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectedColumns",
						"selectedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          dx_enc_id as string,",
						"          dx_line as string,",
						"          dx_icd as string",
						"     ),",
						"     filePattern:'Location_Table_S.csv',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze2Silver_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Encounter_DataFlow",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Encounter_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EncounterData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "EncounterDx_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Encounter_Dx_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"EncounterDxData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Provider_DF",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Provider_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ProviderData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PCP_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PCP_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PcpData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Pregnancy_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Pregnancy_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PregnancyDiagnosisData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Location_DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Location_DF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"LocationData": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Encounter_Dx_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Provider_DF')]",
				"[concat(variables('factoryId'), '/dataflows/PCP_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Pregnancy_DF')]",
				"[concat(variables('factoryId'), '/dataflows/Location_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Apollo_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "R2B",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Raw2Bronze_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "B2S",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "R2B",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Bronze2Silver_PL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Bronze2Silver_PL')]"
			]
		}
	]
}